node_modules
vendor
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
documentations

